* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: 40px;
    background: linear-gradient(110deg, #0151b3 0%, #002a5c 40%, #000e1f 100%);

}

.card {
    flex: 0 1 600px;
    padding: 50px 20px;
}

.card .text-area {
    text-align: center;
    margin-bottom: 30px;
}

.text-area h1 {
    margin-bottom: 10px;
}

form .input-group {
    position: relative;
    margin-bottom: 40px;
}

form :is(label, input) {
    display: block;
    width: 100%;
}

form label {
    position: absolute;
    top: -28px;
    left: -5px;

    color: #ffffffa4;
    padding-left: 8px;
    margin-bottom: 4px;
}

form input {
    height: 40px;
    padding: 0 10px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background: #2f3a44;
}

form input:focus {
    outline: none;
}

form input:focus + label {
    color: #fff;
}

form input.btn {
    margin-top: -15px;
    color: #000;
    background-color: #fff;
}

form input.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

form a {
    display: block;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
}

form a:hover {
    text-decoration: underline;
}
