* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E2E7EB;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: 40px;
    background: #fff;
}

.card {
    min-width: 300px;
}

.text-area {
    text-align: center;
    color: #287EB9;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

input, label {
    display: block;
}

label {
    position: absolute;
    top: 9.5px;
    left: 28px;
    color: #a8a8a8;
    font-size: 15px;
    transition: top .1s ease-in;
}

.input-group input {
    height: 40px;
    width: 100%;
    padding: 0 8px 0 28px;
    border: 1px solid #a8a8a8;
    border-radius: 6px;
}

.input-group input:focus {
    outline: none;
    border-color: #287EB9;
    box-shadow: 0 0 2px #287fb98e;
}

.input-group input:focus ~ i {
    color: #287EB9;
}

.input-group input:not(:placeholder-shown) ~ label {
    top: -11px;
    font-size: 13px;
    padding: 0 4px;
    background: #fff;
}

.input-group input:focus:not(:placeholder-shown) ~ label {
    color: #287EB9;
}

.input-group i {
    position: absolute;
    top: 12px;
    left:8px;
    color: #a8a8a8;
}

.input-group a {
    display: block;
    font-size: 12px;
    text-align: right;
    text-decoration: none;
    margin-top: 4px;
}

.input-group a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    height: 35px;
    width: 100%;
    border: none;
    color: #fff;
    background: #287EB9;
    border-radius: 6px;
}

input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}
