* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;

}

body {
    height: 100vh;
    width: 100%;
    font: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d3d3d381;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    padding: 30px;
}

.container h1 {
    color: #c844e9;
    text-align: center;
}

.container .card {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 18px;
}

.card h2 {
    margin: 10px 0;
}

.card .fa-solid {
    padding-right: 10px;
}

@media screen and (min-width: 786px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .container h1 {
        grid-column: 1 / 3;
        grid-row: 1;
    }
}
