@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corpo: #d3d3d3d2;
    --cor-desfocada: gray;
}

body {
    min-height: 100vh;
    width: 100%;
    font: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("gradiente.avif");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    min-height: 100vh;
    width: 100%;
    padding: 10px;
    background: var(--corpo);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    overflow: auto;
}

header {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 60px;
}

header h2 {
    color: #808080e3;
    font-size: 1rem;
    font-weight: normal;
}

main {
    display: flex;
    flex-flow: column nowrap;

    padding: 10px;
    background: #ffffffe0;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border-radius: 14px;
}

.head-content {
    display: flex;
    align-items: center;
    column-gap: 12px;

    padding: 20px;
}

.head-content h1 {
    font-size: 1.3rem;
}

.container-card {
    display: grid;
    grid-template-columns: 60px 3fr 2fr;

    margin-bottom: 20px;
    padding-right: 12px;
    background: transparent;
}

.container-card i {
    padding: 12px;
    background: #42ff5b;
    border-radius: 50%;
    font-size: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: 1 / 1 / 3 / 2;
}

.icon i {
    transform: rotate(-45deg);
}

.name {
    grid-area: 1 / 2 / 2 / 3;

    font-size: 0.85rem;
}

.quantidade {
    grid-area: 1 / 3 / 2 / 4;
    
    font-weight: bold;
}

.status {
    grid-area: 2 / 2 / 3 / 3;
}

.r i {
    background: #ff0f0f;
    color: #fff;
}

.date {
    grid-area: 2 / 3 / 3 / 4;
}

.quantidade, .date {
    text-align: right;
}


.status, .date {
    font-size: 11px;
    color: var(--cor-desfocada);
}

@media screen and (min-width: 768px) {
    .container-card {
        grid-template-columns: 60px 1fr 1fr 1fr 1fr;
        grid-template-rows: 1;
    }

    .area {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        grid-area: 1 / 1 / 1 / 1;
    }

    .name {
        grid-area: 1 / 2 / 1 / 3;

        font-size: 0.85rem;
    }

    .quantidade {
        grid-area: 1 / 5 / 2 / 6;
        justify-content: flex-end;
    }

    .status {
        grid-area: 1 / 3 / 2 / 4;
    }

    .date {
        grid-area: 1 / 4 / 2 / 5;
    }

}
