* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff9f;
    backdrop-filter: blur(50px);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}


