* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font: 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: transparent;
}

.card {
    flex: 0 1 600px;
    padding: 50px 20px;
    /* border: 2px solid #80808081; */
    border-radius: 14px;
}

.card .text-area {
    text-align: center;
    margin-bottom: 30px;
}

.text-area h1 {
    margin-bottom: 10px;
}

.text-area p {
    color: #0000006e;
}

.text-area p a {
    text-decoration: none;
    color: #317ed6;
}

.text-area p a:hover {
    cursor: pointer;
    text-decoration: underline;
}

form .input-group {
    position: relative;
    margin-bottom: 30px;
}

form :is(label, input) {
    display: block;
    width: 100%;
}

form label {
    position: absolute;
    top: -24px;
    left: 2px;

    color: #a8a8a8;
    padding-left: 8px;
    margin-bottom: 4px;
}

form input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #a8a8a8;
    border-radius: 18px;
}

form input:focus {
    outline: none;
    border-color: #317ed6;
}

form input:focus + label {
    color: #317ed6;
}

form input.btn {
    margin-top: 20px;
    color: #fff;
    background-color: #317ed6;
}

form input.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.separador {
  display: flex;
  align-items: center;
  text-align: center;
  color: #a8a8a8;
  margin: 20px 0;
  font-size: 13px;
  font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.separador::before,
.separador::after {
  content: "";
  flex: 1;
  border-bottom: .5px solid #80808081;
}

.separador::before {
  margin-right: 0.75em;
}

.separador::after {
  margin-left: 0.75em;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 100%;
}

.icons .fa-brands {
    font-size: 26px;
}